.cart-selector .selector-button {
  border: 1px solid var(--black);
  background-color: #a6a6a6;
  opacity: 30%;
  cursor: pointer;
  text-transform: capitalize;
  height: 24px;
  min-width: 24px;
}

.cart-selector .selector-button:hover {
  background-color: #a6a6a6;
  opacity: 80%;
}

.cart-selector.selected .selector-button {
  background-color: white;
  cursor: default;
  opacity: 100%;
}
