.currency {
  display: flex;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  font-size: 500;
}

.currency-symbol {
  margin: 0 10px;
  font-weight: 500;
  font-size: 18px;
}

.currency-arrow {
  margin-top: 3px;
}

.currency-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: default;
  top: 30px;
  right: -60px;
  width: 114px;
  box-shadow: 0px 0px 25px #eee;
  align-items: flex-start;
  padding: 10px 10px;
  background-color: white;
}

.currency-list-item {
  padding: 10px;
  cursor: pointer;
}

.currency-list-item:hover {
  background-color: #eee;
}
