.cartitem-selector {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-transform: capitalize;
}

.cartitem-selector .cartitem-attribute {
  display: flex;
  height: 45px;
}

.cartitem-selector .attrselector-button {
  border: 1px solid var(--black);
  background-color: white;
  cursor: pointer;
  text-transform: capitalize;
  height: 30px;
  min-width: 30px;
  font-size: 14px;
  margin-right: 12px;
}

@media screen and (min-width: 550px) {
  .cartitem-selector .attrselector-button {
    height: 45px;
    min-width: 63px;
  }
}

.cartitem-selector .attrselector-button.colorised {
  opacity: 40%;
}

.cartitem-selector .cartitem-attrname {
  margin: 5px 0;
}

.cartitem-selector .attrselector-button:hover {
  background-color: #a6a6a6;
  opacity: 90%;
}

.cartitem-selector .selected .attrselector-button {
  background-color: var(--black);
  color: white;
  cursor: default;
  opacity: 100%;
}
