@import './normalize.css';
@import './fonts.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 16px;
  --black: #1d1f22;
  color: var(--black);
  font-weight: 400;
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  flex: 1;
  list-style-type: none;
}
